h1 {
  font-size: 28pt;
}
body {
  background-color: white;
  color: #000000;
  font-family: "Roboto";
}
.brand {
  padding-right: 35px;
}
.nav-item.active {
  padding-left: 20px;
  font-weight: bold;
  font-size: 18pt;
  color: black;
}
.nav-item.dropdown {
  padding-left: 20px;
  font-weight: bold;
  font-size: 18pt;
  color: black;
}
.navbar {
  background-color: #26f2ae;
}
.searchButton {
  color: #000000;
}
